<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVANTA CAPITAL</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #000000;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            background: #ffffff;
        }

        .wrapper {
            margin: 0 auto;
            padding: 40px;
            max-width: 650px;
        }

        span {
            margin: 20px 0;
            color: #E79967;
            font-size: 12px;
            padding: 10px 14px;
            border: 1px solid #E79967;
            border-radius: 30px;
        }

        .image {
            margin: 30px 0;
        }

        p.news-title {
            font-size: 30px;
            margin: 20px 0 10px;
        }

        p.news-header {
            font-size: 30px;
            color: #E79967;
            font-weight: bold;
            width: 380px;
            margin: 0 auto;
        }

        p.news-text {
            font-size: 16px;
        }

        @media screen and (max-width: 580px) {
            body {
                font-size: 16px;
                line-height: 22px;
            }
            .wrapper{
                margin: 0 !important;
                padding: 0px !important;
            }
        }

    </style>
</head>
<body>
<div class="wrapper">
    <p class="news-header">AVANTA CAPITAL NEWS</p>
    {% if instance.main_image %}
        <div class="image" width="650" height="300" align="center">
            <img src="{{ site }}{{ instance.main_image.url }}" alt="" border="0" style="display: block; max-width: 100%; max-height:100%;" />
        </div>
    {% endif %}
    <span>{{ instance.theme }}</span>
    <div class="news-content">
        <p class="news-title">{{ instance.header }}</p>
        <p class="news-text">{{ instance.text|safe }}</p>
    </div>
</div>
</body>
</html>
